includes:
  - phpstan-baseline.neon

parameters:
  paths:
    - src
  level: 7
  ignoreErrors: []
  excludePaths:
    - src/templates/**
  bootstrapFiles:
    - stubs/bootstrap.php
  # Also exclude generated or non-analyzable plugin dirs if needed
  # - src/plugins/**
